<div class="max-height">
  <p-card header="AJOUTER TYPE DE STAGE">
    <ng-template pTemplate="content">
      <div class="d-flex flex-column form-container">
        <div class="d-flex justify-content-between align-items-center">
          <p-inputGroup class="distance">
            <button
              pButton
              icon="pi pi-exclamation-circle"
              [ngClass]="validateType ? '' : 'p-button-danger'"
            ></button>
            <span class="p-float-label"
              ><input
                id="nom"
                pInputText
                [ngClass]="validateType ? '' : 'ng-dirty ng-invalid'"
                [(ngModel)]="selectedTypeStage.type"
              /><label for="nom">Type</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button
              pButton
              icon="pi pi-exclamation-circle"
              [ngClass]="validateNbSemaines ? '' : 'p-button-danger'"
            ></button>
            <span class="p-float-label">
              <p-inputNumber
                inputId="nbRecus"
                [useGrouping]="false"
                [min]="1"
                [max]="25"
                [ngClass]="validateNbSemaines ? '' : 'ng-dirty ng-invalid'"
                [(ngModel)]="selectedTypeStage.nbSemaines"
              >
              </p-inputNumber>
              <label for="nbRecus">Nombre de semaines</label>
            </span>
          </p-inputGroup>
          <div class="distance"></div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-end align-items-center">
        <p-button
          label="Annuler"
          icon="pi pi-times"
          styleClass="p-button-danger me-2"
          (onClick)="returnToList()"
        ></p-button>
        <p-button
          label="Enregistrer"
          icon="pi pi-check"
          styleClass="p-button-success"
          (onClick)="save()"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
