<div class="max-height">
  <p-card header="CONSULTER PROFESSEUR">
    <ng-template pTemplate="content">
      <div class="d-flex flex-column form-container">
        <div class="d-flex justify-content-between align-items-center">
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="numero"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.numero"
              />
              <label for="numero">Numero</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="nom"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.nom"
              /><label for="nom">Nom</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="prenom"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.prenom"
              /><label for="prenom">Prénom</label>
            </span>
          </p-inputGroup>
        </div>
        <div
          class="d-flex justify-content-between align-items-end custom-margin-top"
        >
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="qualite"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.qualite"
              />
              <label for="qualite">Qualité</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="dateEmbauche"
                pInputText
                readonly="readonly"
                [ngModel]="getDate(selectedProfesseur.dateEmbauche)"
              />
              <label for="dateEmbauche">Date d'embauche</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <span class="p-float-label">
              <input
                id="dateDepart"
                pInputText
                readonly="readonly"
                [ngModel]="getDate(selectedProfesseur.dateDepart)"
              />
              <label for="dateDepart">Date de départ</label>
            </span>
          </p-inputGroup>
        </div>
        <div
          class="d-flex justify-content-between align-items-center custom-margin-top"
        >
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="adresse"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.adresse"
              /><label for="adresse">Adresse</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="ville"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.ville"
              /><label for="ville">Ville</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="codePostale"
                pInputText
                type="number"
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.codePostale"
              />
              <label for="codePostale">Code postal</label>
            </span>
          </p-inputGroup>
        </div>
        <div
          class="d-flex justify-content-between align-items-center custom-margin-top"
        >
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="telEcole"
                pInputText
                type="number"
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.telEcole"
              />
              <label for="telEcole">Téléphone école</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="telDomicile"
                pInputText
                type="number"
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.telDomicile"
              />
              <label for="telDomicile">Téléphone domicile</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="email"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedProfesseur.email"
              /><label for="email">Email</label>
            </span>
          </p-inputGroup>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-end align-items-center">
        <p-button
          label="Retour"
          icon="pi pi-arrow-left"
          styleClass=" me-2"
          (onClick)="returnToList()"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
