:host ::ng-deep .p-toolbar {
  border-radius: 0rem;
}

:host ::ng-deep .p-datatable-header {
  padding: 0px;
}

:host ::ng-deep .p-paginator {
  border-top: 1px solid black;
  border-radius: 0rem;
}

h5 {
  font-weight: bolder;
  text-transform: uppercase;
}

input {
  max-width: 10rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  /* max-width: 12rem; */
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

td button {
  height: 40px;
  width: 40px;
}
