<div class="max-height">
  <p-card header="CONSULTER ENTREPRISE">
    <ng-template pTemplate="content">
      <div class="d-flex flex-column form-container">
        <div class="d-flex justify-content-between align-items-center">
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <p-inputNumber
                inputId="numero"
                [useGrouping]="false"
                [min]="00000000000000"
                [max]="99999999999999"
                [readonly]="true"
                [(ngModel)]="selectedEntreprise.numero"
              >
              </p-inputNumber>
              <label for="numero">Numero</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="raisonSociale"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.formeJuridique"
              />
              <label for="formeJuridique">Forme juridique</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="raisonSociale"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.raisonSociale"
              /><label for="raisonSociale">Raison sociale</label>
            </span>
          </p-inputGroup>
        </div>
        <div
          class="d-flex justify-content-between align-items-center custom-margin-top"
        >
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="adresse"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.adresse"
              /><label for="adresse">Adresse</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="ville"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.ville"
              /><label for="ville">Ville</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="codePostal"
                pInputText
                type="number"
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.codePostal"
              />
              <label for="codePostal">Code postal</label>
            </span>
          </p-inputGroup>
        </div>
        <div
          class="d-flex justify-content-between align-items-center custom-margin-top"
        >
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="telephone"
                pInputText
                type="number"
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.telephone"
              />
              <label for="telephone">Téléphone</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="fax"
                pInputText
                type="number"
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.fax"
              />
              <label for="fax">Fax</label>
            </span>
          </p-inputGroup>
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label"
              ><input
                id="contact"
                pInputText
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.contact"
              /><label for="contact">Contact</label>
            </span>
          </p-inputGroup>
        </div>
        <div
          class="d-flex justify-content-between align-items-center custom-margin-top"
        >
          <p-inputGroup class="distance">
            <button pButton icon="pi pi-exclamation-circle"></button>
            <span class="p-float-label">
              <input
                id="telContact"
                pInputText
                type="number"
                readonly="readonly"
                [(ngModel)]="selectedEntreprise.telContact"
              />
              <label for="telContact">Téléphone contact</label>
            </span>
          </p-inputGroup>
          <div class="distance"></div>
          <div class="distance"></div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-end align-items-center">
        <p-button
          label="Retour"
          icon="pi pi-arrow-left"
          styleClass=" me-2"
          (onClick)="returnToList()"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
